@model Periodicals_Catalog_MVC.Models.PeriodicalModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details1</title>
</head>
<body>
    <div>
        <h4>PeriodicalModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Period)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Period)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImageName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfEdition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOfEdition)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfPublications)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOfPublications)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Annotation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Annotation)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
