@model Periodicals_Catalog_MVC.Models.PeriodicalModel

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-right:70px">
        <div class="info-box-details">
            <img class="img-details" src="~/Images/@Model.ImageName" />
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="info-box-details">
            <div class="row">
                <ul style="padding-left:initial">
                    <li>
                        <span class="display_title">
                            @Html.DisplayNameFor(model => model.Name):
                        </span>
                        <span class="display_data">
                            @Html.DisplayFor(model => model.Name)
                        </span>
                    </li>
                    <li>
                        <span class="display_title">
                            @Html.DisplayNameFor(model => model.Period):
                        </span>

                        <span class="display_data">
                            @Html.DisplayFor(model => model.Period)
                        </span>
                    </li>
                    <li>
                        <span class=" display_title">
                            @Html.DisplayName("Image name"):
                        </span>
                        <span class="display_data">
                            @Html.DisplayFor(model => model.ImageName)
                        </span>
                    </li>
                    <li>
                        <span class="display_title">
                            @Html.DisplayName("Number of publications"):
                        </span>
                        <span class="display_data">
                            @Html.DisplayFor(model => model.NumberOfPublications)
                        </span>
                    </li>
                    <li>
                        <span class="display_title">
                            @Html.DisplayNameFor(model => model.Annotation):
                        </span>
                    </li>
                    <li>
                        <span class="display_data">
                            @Html.DisplayFor(model => model.Annotation)
                        </span>
                    </li>

                </ul>

            </div>

        </div>
    </div>
</div>

<div class="down_action">
    @Html.ActionLink("Show All Periodicals", "Index", null, new { @class = "btn btn-primary", role = "button" })

    @if (User.IsInRole("Admin"))
    {
        <span style="padding-left: 15px">
            @Html.ActionLink("Create new Periodical", "Create", null, new { @class = "btn btn-primary", role = "button" })
        </span>
        <span style="padding-left: 15px">
            @Html.ActionLink("Edit", "Edit/" + Model.Id, null, new { @class = "btn btn-warning", role = "button" })
        </span>
    }
</div>

<section class="card">
    @Html.Partial("_Comments", Model.Comments)
</section>

<section class="">
    @Html.Partial("_CreateComment", new Periodicals_Catalog_MVC.Models.CommentModel())
</section>