@model Periodicals_Catalog_MVC.Models.TopicModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading tab-bg-primary">
        <ul class="nav nav-tabs">
            <li class="">
                @Html.ActionLink("Create new Topic", "Create")
            </li>
            <li class="">
                @Html.ActionLink("Name", "Details/" + Model.Id, new { sortOrder = ViewBag.NameSortParm })
            </li>
            <li>
                <a href="#bottom" >Jump bottom</a>
            </li>
        </ul>
    </header>
</section>

@{
    foreach (var periodical in Model.Periodicals)
    {

        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <a href="~/Periodical/Details/@periodical.Id">
                <div>
                    <img class="img-details" src="~/Images/@periodical.ImageName" />
                    <div class="col-lg-21">@periodical.Name </div>
                    <div class="col-lg-13">
                        @if (periodical.Annotation.Length < 200)
                        {
                            <div>@periodical.Annotation</div>
                        }
                        else
                        {
                            <div>@periodical.Annotation.Substring(0, 200) ...  </div>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
}

