@model Periodicals_Catalog_MVC.Models.TopicModel
@using Periodicals_Catalog_MVC.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading tab-bg-primary">
        <ul class="nav nav-tabs">
            @if (User.IsInRole("Admin"))
            {
                <li class="">
                    @Html.ActionLink("Create new Topic", "Create")
                </li>
            }
            <li style="border:none">
                <span> Sort by:</span>
            </li>
            <li class="">
                @Html.ActionLink("Name", "Details/" + Model.Id, new { sortOrder = ViewBag.NameSortParm })
            </li>
            <li>
                <a onclick="bottomFunction()">Go to bottom</a>
            </li>
        </ul>
    </header>
</section>
<section class="container">
    @{
        foreach (var periodical in Model.Periodicals)
        {
            <div class="row" style="border-bottom:solid">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="~/Periodical/Details/@periodical.Id">
                        <img class="img-details" src="~/Images/@periodical.ImageName" />

                    </a>
                </div>
                <div class="col-lg-21 col-md-5 col-sm-12 col-xs-12" style="font-size:18px; font-weight: bolder; padding-bottom:initial">
                    <a href="~/Periodical/Details/@periodical.Id">
                        @periodical.Name
                    </a>
                </div>
                <div class="col-lg-13 col-md-4 col-sm-12 col-xs-12">
                    <a href="~/Periodical/Details/@periodical.Id">
                        @if (periodical.Annotation.Length < 200)
                        {
                            <div>@periodical.Annotation</div>
                        }
                        else
                        {
                            <span>@periodical.Annotation.Substring(0, 200) ...  </span>
                        }
                    </a>
                </div>
            </div>
        }
    }
</section>

@{var pageSetup = (PageSetup)ViewData["PageSetup"];}

@Html.Partial("_Pagination", pageSetup)
